.card {
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;
  }
  &__imag-wrapper {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
  }
  &__img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  &__body {
    padding: 0 7px 10px;
    height: 110px;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

