$baseBlack: #55595c;

/*---------------------------------------------------------------------

グローバルナビゲーション

---------------------------------------------------------------------*/

.gnavi {
  height: 40px;
  padding: 0 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  &__inner {
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    height: 100%;
  }
  &__item {
    flex: 1 1;
    display: flex;
  }
  &__link {
    display: flex;
    flex: 1 1;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    transition: .2s;
    span {
      display: flex;
      align-items: center;
      word-break: keep-all;
    }
    &:hover {
      background-color: #ddd;
      color: #000;
    }
    &--active {
      pointer-events: none;
      border-bottom: 1px solid #ccc;
    }
  }
}

/*---------------------------------------------------------------------

見出し

---------------------------------------------------------------------*/

.level1-heading {
  max-width: 980px;
  margin: 0 auto 20px;
  padding: 8px 0;
  border-top: 1px solid $baseBlack;
  border-bottom: 1px solid $baseBlack;
  font-size: 2.4rem;
  font-weight: 200;
  text-align: center;
}

.login-name {
  font-size: 1.4rem;

  margin-bottom: 30px;
}

/*---------------------------------------------------------------------

カード

---------------------------------------------------------------------*/

.card {
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;
  }
  &__imag-wrapper {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
  }
  &__img {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
  &__body {
    padding: 0 7px 10px;
    height: 110px;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

/*---------------------------------------------------------------------

カード2カラム

---------------------------------------------------------------------*/

.cards {
  display: flex;
  flex-wrap: wrap;
  &--col2 > .cards__item{
    width: calc((100% - 16px) / 2);
    margin: 0 8px 10px 0;
  }
}