
/*---------------------------------------------------------------------

カード2カラム

---------------------------------------------------------------------*/
.menu {
  .login-name {
    margin-bottom: 20px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    &--col2 > .cards__item{
      width: calc((100% - 16px) / 2);
      margin: 0 4px 10px 4px;
    }
  }
}


/*---------------------------------------------------------------------

login section

---------------------------------------------------------------------*/

.login {
  h1 {
    margin-bottom: 56px;
    img {
      width: 50%;
      max-width: 280px;
      margin: 24px auto 0;
    }
  }
  .login-form {
    .text-box {
      margin: 0 auto 16px;
    }
    .submit {
      width: 280px;
      margin: 40px auto 0;
    }
  }
}

/*---------------------------------------------------------------------

result section

---------------------------------------------------------------------*/

.result {
  text-align: center;
  .level1-heading {
    margin-top: 70px;
    margin-bottom: 110px;
  }
  .result-icon {
    margin-bottom: 10px;
  }
  .result-message {
    margin-bottom: 80px;
  }
  .result-btn {
    text-align: center;
  }
}

/*---------------------------------------------------------------------

staff-list section

---------------------------------------------------------------------*/

.staff-list {
  table {
    margin-bottom: 20px;
  }
  .pagenation {
    margin-bottom: 32px;
  }
}