.select-buttons {
  &__text {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 16px;
  }
  &__buttons {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}