.login-name {
  font-size: 1.4rem;

  &__border_bottom {
    border-bottom: 1px solid #ddd;
    padding: 0 0 .5em;
  }
}

  .login-name-box {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
  }

.result-message {
  font-size: 1.6rem;
}

.input-error-message {
  text-align: center;
  padding: 0.5em;
  font-size: 1.6rem;
}