.login-name {
  font-size: 1.4rem;
}

  .login-name-box {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
  }

.result-message {
  font-size: 1.6rem;
}

