@charset "UTF-8";
/*---------------------------------------------------------------------

カード2カラム

---------------------------------------------------------------------*/
.cards {
  display: flex;
  flex-wrap: wrap; }
  .cards--col2 > .cards__item {
    width: calc((100% - 16px) / 2);
    margin: 0 4px 10px 4px; }

/*---------------------------------------------------------------------

login section

---------------------------------------------------------------------*/
.login h1 {
  margin-bottom: 56px; }
  .login h1 img {
    width: 50%;
    max-width: 280px;
    margin: 24px auto 0; }

.login .login-form .text-box {
  margin: 0 auto 16px; }

.login .login-form .submit {
  width: 280px;
  margin: 40px auto 0; }

/*---------------------------------------------------------------------

result section

---------------------------------------------------------------------*/
.result {
  text-align: center; }
  .result .level1-heading {
    margin-top: 70px;
    margin-bottom: 110px; }
  .result .result-icon {
    margin-bottom: 10px; }
  .result .result-message {
    margin-bottom: 80px; }
  .result .result-btn {
    text-align: center; }
